@import '~bootstrap/scss/bootstrap';
@import 'reset';
@import 'rwd';
@import 'debug';
// @import 'fonts';
// @import './hvr/hover.scss';

@import 'initial';
@import 'global-range';

* {
	box-sizing: border-box;
}

strong {
	font-weight: 900;
}

#cspage-header {



	h3 {
		display: none;

		@include md-min {
			display: block;
			padding-top: 30px;
		}

		@include xl-min {
			font-size: 145px;
			line-height: 1em;
		}

		color: #f2f2f2;
		font-size: 90px;
		line-height: .9em;
		padding: 0 0 15px;
		text-align: center;
		font-weight: 900;
		font-family: 'Proxima Nova';
	}
}

.breadcrumb-cspage {
	padding: 20px 0px 24px 0px !important;

	@include md-min {
		padding: 20px 0px !important;
	}

	@include xl-min {
		padding: 20px 0px !important;
	}
}

#cspage-content {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"subtitle"
		"sidebar"
		"cspagecontent";
	justify-content: stretch;
	background-color: #FFF;
	position: relative;


	@include xl-min {
		grid-template-columns: 250px 712px 158px;
		grid-template-rows: auto;
		justify-items: stretch;
		justify-content: center;
		grid-gap: 40px;
		grid-template-areas:
			"sidebar subtitle ."
			"sidebar cspagecontent ."
	}

	.cspage-sidebar,
	.cspage-content,
	.cspage-social-share,
	.cspage-subtitle {
		color: #333333;
		font-family: 'Proxima Nova';
		font-size: 18px;

	}

	.cspage-sidebar {
		grid-area: sidebar;

		.cspage-sidebar-highlight {
			border: 5px solid #C0AA6E;
			background-color: #F5F5F5;
			padding: 146px 40px 54px 40px;
			position: relative;
			margin-top: 30px;
			font-size: 18px;
			line-height: 27px;
			text-align: center;
			margin-bottom: 16px;

			@include md-min {
				padding: 37px 130px 37px 44px;
			}

			@include xl-min {
				padding: 30px 0px;
			}
		}

		.cspage-logo-badge {
			width: 104px;
			position: absolute;
			top: -30px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;

			@include md-min {
				margin: initial;
				left: initial;
				right: 42px
			}

			@include xl-min {
				top: -30px;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
			}


		}

		.md-min-areas {
			@include md-min {
				display: flex;
			}

			@include xl-min {
				flex-direction: column;
				padding-top: 100px;
			}
		}

		.area-right,
		.area-left {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			text-align: left;
			padding: 0px 30px;

			@include xl-min {
				align-items: center;
				justify-content: center;
				text-align: center;
			}

			p {
				@include xl-min {
					padding-bottom: 7px;
				}
			}
		}

		h4 {
			font-weight: 900;
			margin-bottom: 29px;
		}
	}

	.cspage-subtitle {
		grid-area: subtitle;
		padding-bottom: 32px;
		position: relative;

		@include xl-min {
			border-bottom: 1px solid rgba(0, 0, 0, 0.5);


			&::after {
				display: block;
				content: " ";
				position: absolute;
				bottom: -4px;
				left: 50%;
				margin-left: -5px;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 7px solid #c0aa6e;
			}

			&::before {
				display: block;
				content: " ";
				position: absolute;
				bottom: -2px;
				height: 4px;
				width: 34px;
				left: 50%;
				background: #fff;
				margin-left: -17px;
			}
		}


		h2 {
			font-size: 30px;
			font-weight: 700;
			line-height: 37px;
			font-family: 'Proxima Nova';

			@include md-min {
				font-size: 45px;
				line-height: 54px;
			}


		}
	}

	.cspage-content {
		grid-area: cspagecontent;
		line-height: 27px;
		padding-top: 32px;
		padding-bottom: 24px;

		@include xl-min {
			padding-top: 0px;
		}

		h2 {
			font-size: 18px;
			font-weight: 900;
		}

		p,
		h2,
		img {
			padding-bottom: 32px;
		}



	}

	.cspage-social-share {
		display: none;


		@include xl-min {
			display: block;
			position: fixed;
			right: 13vw;

		}



		@include xxl-min {
			display: block;
			position: fixed;
			right: 16vw;

		}

		ul {
			li {
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid #0d161d;
					width: 45px;
					height: 45px;
					border-radius: 50%;
					margin-bottom: 10px;
				}


			}
		}

		.fb-social {
			&:hover {
				background-color: #3b5998;
				border-color: #3b5998;
			}
		}

		.tw-social {
			&:hover {
				background-color: #1dcaff;
				border-color: #1dcaff;
			}
		}

		.li-social {
			&:hover {
				background-color: #0077b5;
				border-color: #0077b5;
			}
		}



	}

}

.cspage-counters {
	@include md-min {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px -10px;
	}


	@include xl-min {
		margin: 10px 0px;
		flex-direction: column;
	}


}

.cspage-counter {
	background-color: #F5F5F5;
	padding: 14px 33px;
	font-size: 14px;
	line-height: 27px;
	color: #333333;
	font-family: 'Proxima Nova';
	font-weight: 600;
	text-align: center;
	margin-bottom: 8px;

	@include md-min {
		width: 100%;
		margin: 0px 10px;
		min-height: 111px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@include xl-min {
		margin-bottom: 10px;
		min-height: 135px;
	}

	p {
		@include md-min {
			line-height: 18px;
			padding-top: 7px;
		}

		@include xl-min {
			font-size: 18px;
			line-height: 27px;
			font-weight: 500;
		}
	}
}

.cspage-counter-value {
	color: #6D91A7;
	font-size: 24px;
	line-height: 29px;
	font-family: 'Proxima Nova';
	font-weight: 600;

	@include lg-min {
		font-size: 36px;
		font-weight: 900;

	}
}

.cspage-content__effects {

	.cspage-content__effects-heading {
		font-size: 24px;
		color: #141F29;
		font-weight: 700;

		@include md-min {
			font-size: 36px;
		}
	}

	.effect-boxes {
		@include md-min {
			display: flex;
			margin: 0px -5px;
		}
	}

	.effect-box {
		background-color: #F5F5F5;
		padding: 37px 34px;
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 27px;
		color: #333333;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		@include md-min {
			width: 100%;
			margin: 0px 5px;
		}


		img {
			width: 36px;
			margin-bottom: 38px;
		}

		.effect-box__value {
			font-size: 36px;
			font-weight: 600;
			margin-bottom: 12px;
		}

		p,
		img {
			padding-bottom: 0 !important;
		}
	}
}

.order-switcher {

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: stretch;
	justify-content: center;
	grid-template-areas:
		"cstitle"
		"bread";

	@include xl-min {
		grid-gap: 40px;
		grid-template-columns: 250px 712px 158px;
		grid-template-areas: "cstitle cstitle cstitle"
			". bread .";
	}

	.breadcrumb-cspage {
		grid-area: bread;
	}

	#cspage-header {
		grid-area: cstitle;
	}

}